.left-nav-panel {
    height: 100rem;
}

.db-name {
    height: 2rem;
    vertical-align: middle;
    padding-right: 0.5rem;
}

.database-setting-icon {
    font-size: 1rem;
    vertical-align: middle;
}

.database-label {
    display: flex;
    vertical-align: middle;
    align-items: center;
    height: 3rem;
}

.selected-database {
    background-color: lightgray;
  }

.database-add-icon {
    color: green;
}

.mat-drawer.new-vendor-p{
    border-bottom: 1px;
    font-size: large;
}