<app-header></app-header>
<div class="project-cards">
  <div class="project-card" *ngFor="let project of projects" (click)="onProjectSelected(project.id)" [ngStyle]="{'background-image': 'url(/assets/project-backgrounds/'+project.image+')' }">
    <label class="project-name">{{project.name}}</label>
  </div>
  <div class="project-card" (click)="onNewProjectSelected()">
    <mat-icon class="project-add-icon" aria-hidden="false" aria-label="add" fontIcon="add"></mat-icon>
    <label class="project-name">New Project</label>
  </div>
</div>
<app-footer></app-footer>