<div class="landing">
    <mat-drawer-container class="left-nav-panel">
        <mat-drawer mode="side" opened>
            <mat-expansion-panel *ngFor="let vendor of vendors">
                <mat-expansion-panel-header>
                  <mat-panel-title class="font-bold font-blue" (click)="onVendorSelect(vendor.name)">
                    {{vendor.name}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                    <label class="database-label" *ngFor="let database of vendor.databases" [class.selected-database]="database === selectedDatabase"><label class="db-name" (click)="onDatabaseSelect(database)">{{database.name}}</label> <mat-icon aria-hidden="false" aria-label="settings" fontIcon="settings" class="database-setting-icon" (click)="onDatabaseSettingsSelect(database)"></mat-icon></label>
                    <mat-icon class="database-add-icon" aria-hidden="false" aria-label="add" fontIcon="add" (click)="onNewDatabase()"></mat-icon>
                </div>
              </mat-expansion-panel>
              <div>
                <p class="new-vendor-p" (click)="onNewVendor()">New Vendor ...</p>
              </div>
        </mat-drawer>
        <mat-drawer-content>
              <app-db-view></app-db-view>
        </mat-drawer-content>
      </mat-drawer-container>
</div>
<footer></footer>