<div class="new-product-body">
    <h1>Edit Project</h1>

    <mat-form-field class="project-name-input" >
        <mat-label >Project Name</mat-label>
        <input matInput [(ngModel)]="projectName">
    </mat-form-field>
    <br>
    <mat-form-field class="project-description-input" >
        <mat-label >Project Description (optional)</mat-label>
        <input matInput [(ngModel)]="projectDescription">
    </mat-form-field>

    <mat-dialog-actions align="end">
        <button class="modal-cancel" mat-button mat-dialog-close>Cancel</button>
        <button class="modal-okay" mat-button [mat-dialog-close]="true" (click)="onSubmit()">Add</button>
    </mat-dialog-actions>
</div>